<!DOCTYPE html>

<html>
<head>
  <title>Ceasar Cipher</title>
  <link href='//fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
  <link rel='stylesheet' type='text/css' href='/style.css'>
</head>

<body>
  <p1>Ceasar Cipher</p1>
    <br></br>
    <form action="submit" method="get"> <!--form action relates to the param -->
      Text to cipher: <br>
      <input type="text" name="text"></br>
      <div></div>
      Shift:
      <div></div>
      <p2>(enter a number between 1 and 25)
      <br>
      <input type="text" name="shift"></br>
      <div></div>
      <input type="submit" name="submit">
    </form>
      <br></br>
      <p2>Input:  <%= "#{params[:text]}" %></p2>
      <div></div>
      <p2>Result:  <%= result = ceasar_cipher("#{params[:text]}", params[:shift].to_i) %></p2>

</body></html>
